{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">

		<h3>Search for your school</h3>

    <select id="searchbar">
        <option value="select">Search Your School</option>
        {{#each school}}<option value="{{key}}">{{name}}</option>{{/each}}
    </select>
		
	</div>

</div> <!-- .container-fluid -->